<!DOCTYPE html>
<html>
  <head>
    <title>バイク投稿アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "バイク一覧", motorcycles_path%>   <%= link_to "新規投稿", new_motorcycle_path%>
  <hr>
  <hr size="10" color="#0000ff" noshade >
  
    <%= yield %>
  </body>
</html>
